/* **Sport page****/
.music{
	font-family: 'Squada One', sans-serif;
	margin-top: 20%;
	color: rgb(191, 90, 0);
}
.p1{
	margin-top: 40px;
	margin-bottom: 40px;
	   font-size: 18px;
}
.row.mb-10{
    margin-bottom: 40px;
    
}
/* **Sport page****/
/***About Us***/
.music1{
	font-family: 'Squada One', sans-serif;
	 margin: 150px 0 100px 0;
	color: rgb(191, 90, 0);
	font-weight: bold;

}
.Showimg1{
    margin: 9% 0 0 13.9%;
    
}
.Showimg2{
    margin: 9% 0 0 3%
    
}
.Showimg{
    width: 100%;
    margin: 0 20% 1% 8%;
    
}
	.blaze{
    margin: 0 6.9% 0 6.9%;
    font-size: 18px;
}
h3{
	font-weight: bold;
}
.page1{
    margin: 0 4% 10% 12%
}
.page2{
    margin: 0 13% 10% 2%;
}
.Showimg1,.Showimg2{
   z-index: -2;
    position:relative;
}
/***About Us***/
/**Acting Page*/
.row.mb-10{
    margin-bottom: 40px;
    
}
/**Acting Page*/
/** Contact Us***/
.Mymusic{
	font-family: 'Squada One', sans-serif;
	margin: 20% 0 5% 0 ;
	color: rgb(191, 90, 0);
}	
.form12{
    margin: 4% 15% 0 15%;
}
.form-group{
    margin-top: 5%;
}	
.h15{
    font-size: 20px;
    margin: 2% 0 0 0 ;
    color: rgba(0,0,0,0.61);
}
.contact{
    margin: 4% 0 0 0 ;
}
.button{
    margin: 2% 0 1% 0 ;
}
.day{
    margin-bottom: 10%;
}
#demo{
    font-size: 25px;
    color: rgba(0,0,0,0.57);
    letter-spacing: 2px;
}
/** Contact Us***/
/**Dance Page*/
.soon{
	color:rgb(94, 94, 94);
	margin-bottom: 15%;
}
/**Dance Page*/
/*Join now **/
	.get{
    margin: 0px;
    padding: 20% 0 1% 0;
    
}
.join{
   margin-bottom: 8%;
    background-color: rgb(22, 22, 22);
        color:white;
    height:500px;  
}
.head11{
    
   font-family: 'Squada One', sans-serif;
    color: rgb(179, 84, 0);
    font-weight: 750;
    margin-bottom: 50px;
}
.form11{
    margin: 4% 15% 0 15%;
}
.form-group{
    margin-top: 5%;
}
.joinh{
margin-top: 5%;
}
.icon{
	margin-bottom: 4%;
}
/*** Top Video***/
video{
    height: 75%;
    width: 90%;
    margin-left: 15%;
    padding-bottom: 10%;
}
.video{
    margin: 22% 0 0 4%;
}	
/*** Top Video***/
@import url(main.css);
@import url(form.css);
@import url(footer.css);